<div class=" background-container container-body " [style.background-image]="'url( '+  urlBg + ')'" >
  <div class=" background-page-1 body " >
    <router-outlet></router-outlet>
    <footer style="display: flex; flex-direction: column; align-items:  flex-start; justify-content: center;">
      <p> <a style="color: #000;" target="_blank" [href]="'https://github.com/Yuu-Kuuhaku'"> <img src="https://img.icons8.com/ios-glyphs/30/000000/github.png"/>  Yuu Kuuhaku</a></p>
  
      <p> <a style="color: #000;" target="_blank" [href]="'https://www.instagram.com/yuu_eustaquio/'"> <img src="https://img.icons8.com/color/30/000000/instagram-new--v1.png"/>  @Yuu Kuuhaku</a> </p>
      <p><a target="_blank" href="https://icons8.com/icon/62856/github">GitHub icon by Icons8</a></p>
    </footer>
  </div>
 
</div>

