
    <div class="timer" *ngIf="!this.isValiResend">
      <h3> Quanto tempo falta para <strong style="font-size: 1.75rem;">ONE PIECE - Live Action | Netflix ?</strong>  </h3>
     
      
      <div style="margin-top: 2%; font-size: 2.0rem;">
        <span id="days"> {{daysToDday}} Dia{{ (daysToDday > 1) ? 's': ''}}</span>
        <span id="hours"> {{hoursToDday.toString().length == 1 ?("0" + hoursToDday):hoursToDday }}</span>:<span id="minutes">{{minutesToDday.toString().length == 1 ? ("0" + minutesToDday): minutesToDday }}</span>:<span id="seconds">{{secondsToDday.toString().length == 1 ? ("0" + secondsToDday): secondsToDday }}</span>
      </div>

      <!-- <div>
        <small style="font-size: 0.8rem ;"> . </small>
      </div> -->
    </div>
