
    <div class="timer" *ngIf="!this.isValiResend">
      <h3> Quanto tempo falta para <strong style="font-size: 1.75rem;">ONE PIECE - Live Action | Netflix ?</strong>  </h3>
     
      
      <div style="margin-top: 2%; font-size: 2.0rem;">
        <span id="days"> {{daysToDday}} </span>Dia(s)
        <span id="hours"> {{hoursToDday}} </span>h
        <span id="minutes"> {{minutesToDday}} </span>Min
        <span id="seconds"> {{secondsToDday}} </span>s
      </div>

      <!-- <div>
        <small style="font-size: 0.8rem ;"> . </small>
      </div> -->
    </div>
